html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Allow vertical scrolling */
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  